@charset "utf-8";
@import "normalize";

div {
  box-sizing: border-box;
}

$offwhite: rgba(239,237,232,1);
$offblack: rgba(56,57,61,1);

:root {
  font-size: 18px
}

body {
  background:   $offwhite;
  color:        transparentize($offblack, 0.4);
  font-family: "Avenir Next", "Helvetica", sans-serif;
  font-size:    1rem;
  line-height:  1.67em;
}

h1,
.heading-1 {
  font-size: 2rem;
  margin: 0;
}

h2,
.heading-2 {
  font-size: 1.5rem;
  margin: 0;
}

.header {
  background: $offblack;
  color:      $offwhite;
  width:      100%;
  padding:    1.5rem;

  a {
    color:            $offwhite;
    text-decoration:  none;
  }

  .primary-nav {
    list-style-type:  none;
    margin:           0;
    padding:          0;
    font-size:        0.88rem;
    float:            right;

    a {
      color: transparentize($offwhite, 0.4);

      &:hover,
      &.active {
        color: $offwhite;
      }
    }
  }

  .primary-nav-item {
    display:      block;
    float:        left;
    margin-left:  1.67rem;

    &:first-child {
      margin-left: 0;
    }

    a {
      font-weight: bold;
    }
  }
}

.header-left {
  float: left;
  width: 50%;
}

.header-right {
  float: left;
  width: 50%;
}

.articles-container {
  margin: 5.5rem auto 0 auto;
  width: 100%;
  max-width: 750px;

  article {
    .article-header {
      text-align: center;

      .heading-1 {
        line-height: 1.36em;
      }
    }

    .article-meta {
      text-align: center;
      font-size:  0.78rem;
      margin:     2.22rem 0;
      color:      transparentize($offblack, 0.65);
    }

    .article-body {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

.clear {
  clear: both;
}
